@model AccountManagementSystem.Web.DTOs.ViewModel.RecordViewModel

<form asp-controller="Records" asp-action="Create" method="POST">
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" class="form-control"/>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" class="form-control" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Remark">Remark</label>
        <textarea asp-for="Remark" class="form-control"></textarea>
        <span asp-validation-for="Remark" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <button type="submit" class="btn btn-primary mr-2">Create</button>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</form>